@import '../../../app';

.banner-wrap {

  #HeaderAppLink {
    display: block;
    background: url('/app/images/appLinkImage.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  @media #{$desktop} {
    #HeaderAppLink {
      display: none;
    }
  }

  @media #{$mobile} {
    margin-top: 30px;
  }
}