<section class="homedeco_detail">
    <div id="HeaderToApp" ng-if="!noBanner">
        <a id="HeaderAppLink" href="" ng-click="gotoApp();"
           class="magazineItem HeaderAppLink">
        </a>
    </div>
    <div id="ContentWrapper">
        <div id="Content">
            <div ng-bind-html="title" id="MagazineTitle"></div>
            <div ng-bind-html="content" id="MagazineContent"></div>
            <div id="MagazineImages">
                <div class="magazineContainer" ng-repeat="page in pages">
                    <div class="magazineImage">
                        <img src="http://image.ggumim.co.kr/unsafe/{{page.image._id}}/{{page.image._id}}" width="100%">
                        <div class="imagePinWrapper" ng-style="{ top: pin.offset.y + '%', left: pin.offset.x + '%' }" ng-repeat="pin in page.pins">
                            <a class="imagePinMobileLink" href="#">
                                <img src="../img/pin.png" height="20" class="imagePinMobile">
                            </a>

                            <img src="../img/pin.png" height="26" class="imagePin">
                            <div class="pinProductWrapper">
                                <img src="{{pin.contents.image}}" height="120" class="pinProductImage">
                                <div class="pinProductContent">
                                    <div class="pinProductTitle">{{pin.contents.title}}</div>
                                    <div class="pinProductPrice">{{pin.contents.price}}원</div>
                                    <a href="{{pin.contents.link}}" class="pinProductButton">구매처로 이동</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desc-for-magazineImage" ng-bind-html="bindText(page.article.text)">
                        <!-- {{page.article.text}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ProductPopupOverlayWrapper">
        <div id="ProductPopupOverlay"></div>
        <div id="ProductPopupWrapper">
            <div id="ProductPopup">
                <div id="ProductPopupHeader">
                    <a id="ProductPopupExit" href="#">
                        <img src="../img/exit.png" width="18" alt="X">
                    </a>
                </div>
                <div id="ProductPopupContent" class="clearfix">
                    <img id="ProductPopupImage" src="http://shopping.phinf.naver.net/main_7765758/7765758043.jpg">
                    <div id="ProductPopupText">
                        <div id="ProductPopupTitle"></div>
                        <div id="ProductPopupPrice"></div>
                    </div>
                    <a target="_blank" href="#" id="ProductPopupButton">구매처로 이동</a>
                </div>
            </div>
        </div>
    </div>
</section>