<section class="homedeco_main">
    <div infinite-scroll="loadMore()" infinite-scroll-disabled="scroll_busy" infinite-scroll-distance="2" id="ContentWrapper" class="clearfix">
        <div id="Content" class="magazineWrapper clearfix">
            <a id="HeaderAppLink" href=""
               class="magazineItem HeaderAppLink">
            </a>
            <a class="magazineItem" href="./view.php?id={{magazine.id}}" ng-style="{ 'background-image': 'url(' + magazine.image_url + ')' }" ng-repeat="magazine in magazines">
                <div class="magazineItemGradient">
                    <div ng-bind-html="magazine.text" class="magazineItemText"></div>
                </div>
            </a>
        </div>
    </div>
</section>
