@charset "utf-8";

#MagazineTitle {
    border-bottom: 2px solid #ccc;
    color: #888;
    font-size: 24px;
    font-family: '고도 M';
    padding-top: 20px;
    padding-bottom: 6px;
}

#MagazineContent {
    line-height: 1.3;
    margin-top: 30px;
    font-family: 'Noto Sans CJK KR';
    font-size: 16px;
    color: #444;
    text-align: center;
}

#MagazineImages {
    font-family: 'Noto Sans CJK KR';
    margin: 0 auto;
    width: 600px;
}
.magazineImage {
    position: relative;
    margin-top: 30px;
    font-size: 0px;
}

.imagePinWrapper {
    display: none;
    position: absolute;
}
.magazineImage:hover .imagePinWrapper {
    display: block;
}

.imagePin,
.imagePinMobileLink {
    position: relative;
    z-index: 10;
    margin-left: -7px;
}
.imagePinMobileLink {
    display: none;
}
.imagePinWrapper:hover .imagePin {
    z-index: 100;
}
.imagePinWrapper:hover .pinProductWrapper {
    display: block;
}
.pinProductWrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 90;
    margin-top: -20px;
    height: 140px;


    width: -webkit-max-content;
    width: -moz-max-content;
    width: -ms-max-content;
    width: max-content;
}
.pinProductImage {
    float: left;
    margin: 10px 0 10px 10px;
}
.pinProductContent {
    float: left;
    margin: 35px 10px 15px 12px;
}
.pinProductTitle {
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
}
.pinProductPrice {
    color: #fff;
    margin-top: 8px;
    font-size: 12px;
}
.pinProductButton {
    color: #fff;
    margin-top: 10px;
    background-color: #e97161;
    text-align: center;
    font-size: 13px;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 100px;
}
#ProductPopupOverlayWrapper {
    display: none;
}
.desc-for-magazineImage {
	padding-top: 30px;
	text-align: center;
	line-height: 1.3;
	font-size: 16px;
}


/* Mobile */
@media only screen and (max-width : 1023px) {
    #Content {
        margin: 0px 10px;
    }
    #HeaderToApp {
    	margin-top: 30px;
    }
    #MagazineTitle {
        font-size: 16px;
        padding-bottom: 4px;
    }
    #MagazineContent {
        margin-top: 20px;
        font-size: 13px;
    }
    #MagazineImages {
        width: 100%;
    }
    .magazineImage {
        margin-top: 15px;
    }
    .imagePinMobileLink,
    .imagePinWrapper {
        display: block;
    }
    .imagePin,
    .pinProductWrapper {
        display: none !important;
    }

    #ProductPopupOverlayWrapper.active {
        display: block;
    }

    #ProductPopupOverlayWrapper {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #ProductPopupOverlay {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        height: 100%;
        width: 100%;
    }
    #ProductPopupWrapper {
        max-height: 100%;
        margin-left: 10px;
        margin-right: 10px;

        position: relative;
    }
    #ProductPopup {
        position: relative;
        background: white;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    #ProductPopupHeader {
        position: absolute;
        right: -9px;
        top: -9px;
    }
    #ProductPopupContent {
        padding: 10px;
    }
    #ProductPopupImage {
        width: 100%;
    }
    #ProductPopupImage,
    #ProductPopupPrice,
    #ProductPopupButton {
        margin-bottom: 10px;
    }
    #ProductPopupText {
        width: 50%;
        float: left;
    }
    #ProductPopupTitle,
    #ProductPopupPrice {
        padding-left: 2px;
    }
    #ProductPopupTitle {
        font-size: 16px;
        color: #444;
    }
    #ProductPopupPrice {
        margin-top: 5px;
        font-size: 14px;
        color: #888;
    }
    #ProductPopupButton {
        float: right;
        display: block;
        background-color: #e97161;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 45%;
        height: 30px;
        line-height: 30px;
    }
    .desc-for-magazineImage {
    	padding-top: 15px;
		text-align: center;
		font-size: 13px;
	}
}
