<section class="homedeco_main">
    <div infinite-scroll="loadMore()" infinite-scroll-disabled="scroll_busy" infinite-scroll-distance="1" id="ContentWrapper" class="clearfix">
        <div id="Content" class="magazineWrapper clearfix">
            <a class="magazineItem" data-ng-href="/view.php?id={{magazine.id}}"
               data-ng-style="{ 'background-image':
               'url(http://image.ggumim.co.kr/unsafe/{{magazine.title_img.img_id}}/{{magazine.title_img.img_id}})' }"
               data-ng-repeat="magazine in magazines">
                <div class="magazineItemGradient">
                    <div data-ng-bind-html="magazine.text" class="magazineItemText"></div>
                </div>
            </a>
        </div>
    </div>
</section>

