<div class="item-layer">
    <div id="ProductPopupOverlayWrapper">
        <div id="ProductPopupOverlay" data-ng-click="close();"></div>
        <div id="ProductPopupWrapper">
            <div id="ProductPopup">
                <div id="ProductPopupHeader">
                    <a id="ProductPopupExit" href="#" data-ng-click="close();">
                        <img src="./public/img/exit.png" width="18" alt="X">
                    </a>
                </div>
                <div id="ProductPopupContent" class="clearfix">
                    <img id="ProductPopupImage" src="http://shopping.phinf.naver.net/main_7765758/7765758043.jpg">
                    <div id="ProductPopupText">
                        <div id="ProductPopupTitle"></div>
                        <div id="ProductPopupPrice"></div>
                    </div>
                    <a target="_blank" href="#" id="ProductPopupButton">구매처로 이동</a>
                </div>
            </div>
        </div>
    </div>
</div>