<section class="test">
    <h1>
        <div>
            <a href="mydearnest://view?msgType=19&id=318002">iOS A Link</a>
        </div>

        <div>
            <a href="intent://view?msgType=19&id=318002#Intent;scheme=mydearnest;package=com.osquare.mydearnest;end">Android A Link</a>
        </div>

        <div>
            <button id="iOSLocation" data-ng-click="iosLocation()">iOSLocation</button>
        </div>

        <div>
            <button id="androidLocation" data-ng-click="androidLocation()">androidLoation</button>
        </div>
    </h1>
</section>