<section class="homedeco_detail">
    <div id="ContentWrapper">
        <div id="Content">
            <div data-ng-bind-html="title" id="MagazineTitle"></div>
            <div id="MagazineImages">
                <div class="magazineContainer" data-ng-repeat="page in pages">
                    <div class="magazineImage">
                        <img data-ng-src="http://image.ggumim.co.kr/unsafe/{{page.image.img_id}}/{{page.image.img_id}}" width="100%">
                        <tag data-ng-repeat="tag in page.tags" tag="tag" overlay="overlay"
                             ng-style="{ top: tag.y + '%', left: tag.x + '%' }">
                        </tag>
                    </div>
                    <div class="desc-for-magazineImage" ng-bind-html="page.text">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ProductPopupOverlayWrapper">
        <div id="ProductPopupOverlay" data-ng-click="close();"></div>
        <div id="ProductPopupWrapper">
            <div id="ProductPopup">
                <div id="ProductPopupHeader">
                    <a id="ProductPopupExit" href="#" data-ng-click="close();">
                        <img src="./public/img/exit.png" width="18" alt="X">
                    </a>
                </div>
                <div id="ProductPopupContent" class="clearfix">
                    <img id="ProductPopupImage" src="http://shopping.phinf.naver.net/main_7765758/7765758043.jpg">
                    <div id="ProductPopupText">
                        <div id="ProductPopupTitle"></div>
                        <div id="ProductPopupPrice"></div>
                    </div>
                    <a target="_blank" href="#" id="ProductPopupButton">구매처로 이동</a>
                </div>
            </div>
        </div>
    </div>
</section>
